body {
  margin: 0;
  background-color: #171f31;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 10px;
  color: #ddcccc;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  width: 320px;
  padding: 12px;
  font-size: 14px;
  border-radius: 6px;
  border: 1px solid #8c8888;
  background-color: #171f31;
  color: #ddcccc;
  outline: none;
}

.input-box input:focus {
  border-color: #4f46e5;
}

.input-box button {
  padding: 12px 18px;
  background-color: #1906279a;
  color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 6px;
  border: 1px solid #8c8888;
  cursor: pointer;
  font-size: 14px;
}

.input-box button:hover {
  background-color: #300f4771;
}
.btn {
  min-width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Loader animation */
.loader {
  width: 18px;
  height: 18px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid white;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.result {
  margin-top: 30px;
  max-width: 700px;
  background: #000B20;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 10px 25px #d9dde214;
  text-align: left;
}

.result h3 {
  margin-top: 0;
  color: #c5baba;
}

.result p {
  line-height: 1.6;
  color: #7b7777;
}

.error {
  margin-top: 15px;
  color: red;
}
